<html>
	<head>
		<!--Web App that permits to load a banch of local images and resize them-->
		<title>Image Resizer</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<script type="text/javascript" src="js/FileSaver.min.js"></script>
		<script type="text/javascript" src="js/jszip.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/foundation.min.css">
		<style>
			.fileUpload {
			    position: relative;
			    overflow: hidden;
			    margin: 10px;
			}
			.fileUpload input.upload {
			    position: absolute;
			    top: 0;
			    right: 0;
			    margin: 0;
			    padding: 0;
			    font-size: 20px;
			    cursor: pointer;
			    opacity: 0;
			    filter: alpha(opacity=0);
			}
			#iterations{
				display: none;
			}
			#thumbnails > h3{
				margin-left: 2%;
			}
			#thumbnails > img{
				width: 20%;
				margin: 2%;
				float: left;
			}
			#thumbnails{
				margin: auto;
			}
			input:invalid{
				border: 1px solid #ff0000;
				box-shadow: inset 0 0 2px #ff0000;
			}

			input:invalid:focus{
				border: 1px solid #ff0000;
				box-shadow: 0 0 5px #ff0000;
			}
		</style>
	</head>
	<body ng-app="imageResizer" ng-controller="irController">
		<form name="settingsForm">
			<div class="row">
				<div class="medium-6 small-centered columns">
					<div class="row">
						<div class="fileUpload hollow button small-3 small-centered columns">
		    				<span>Choose Files</span>
		    				<input type="file" class="upload" id = "files" accept="image/*" autocomplete="off" fileread = "images" multiple required>
						</div>
						<div class="small-9 columns">
							<div class="row" style="padding-top:11px;">
								<div class="small-3 columns">
									<label class="text-right middle" for="width">Save as:</label>
								</div>
							    <div class="small-9 columns">
							    	<div class="input-group">
							    		<input class="input-group-field" type="text" name="zip" ng-model="zipname" pattern="[a-zA-Z0-9]*" required>
							    		<span class="input-group-label">.zip</span>
							    	</div>
							    </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 small-12 columns">
							<div class="small-6 columns">
								<label class="text-right middle" for="width">Width [px]: </label>
							</div>
							<div class="small-6 columns">
								<input type="number" name="width" id="width" autocomplete="off" value="1920" ng-model="width" required>
							</div>
						</div>
						<div class="medium-6 small-12 columns">
							<div class="small-6 columns">
								<label class="text-right middle" for="height">Height [px]: </label>
							</div>
							<div class="small-6 columns">
								<input type="number" name="height" id="height" autocomplete="off" value="1080" ng-model="height" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class='small-3 columns'>
							<label class="text-right middle">Compression [%]:</label>
						</div>
						<div class='small-7 columns'>
							<div class="slider" data-slider data-initial-start='80' step='1'>
								<span class="slider-handle" data-slider-handle role="slider" tabindex="0" aria-controls='compression'></span>
								<span class="slider-fill" data-slider-fill></span>
							</div>
						</div>
						<div class='small-2 columns'>
						  	<input type="number" id='compression' ng-model="compression" required>
						</div>
					</div>
					<div class="row">
						<div class="small-5 small-centered columns">
							<button class="hollow button" ng-class="{ 'disabled' : settingsForm.$invalid || images.length < 1}"type="button" id="go" ng-click="resize()" ng-disabled="settingsForm.$invalid || images.length < 1">Resize</button>
							<button class="hollow button"  ng-class="{ 'disabled' : settingsForm.$invalid || images.length < 1}" type="button" id="save" ng-click="save()"  ng-disabled="settingsForm.$invalid || images.length < 1">Save</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div id="thumbnails">
			<h3 ng-if="images.length > 0">Your Pictures</h2>
			<img class="thumbnail" ng-repeat="image in images" src="{{image.src}}"/>
		</div>

		<div id="iterations">
			<canvas draw="image" ng-repeat="image in images"></canvas>
		</div>
		
		<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="js/vendor/what-input.min.js"></script>
		<script type="text/javascript" src="js/foundation.js"></script>
		<script type="text/javascript" src="js/angular.min.js"> </script>
		<script>$(document).foundation()</script>
		<script>
			var resizer = angular.module("imageResizer", []);

			resizer.directive("fileread", function () {
			    return {
			        scope: {
			            fileread: "="
			        },
			        link: function (scope, element, attributes) {
			            element.bind("change", function (changeEvent) {
							var fileList = element[0].files;
							//console.log(element[0].files);
							var c = 0;
							scope.fileread = [];
							//use a self-invoking to draw images in canvases and wait to complete the drawing before passing to the next image.
							(function draw(){
								var img = new Image();
								var reader = new FileReader();
								
								reader.onload = function(e){
									img.src = e.target.result;
								}
								img.onload = function(){
									scope.$apply(function () {
	                        			scope.fileread[c] = img;
	                        			//console.log(scope.fileread);
	                    			});
									c++;
									if (c<fileList.length) draw();
								}
								reader.readAsDataURL(fileList[c]);	
							})();

			            	
			            });
			        }
			    }
			});

			resizer.controller("irController", ["$scope", function($scope){
				$scope.images = [];
				$scope.height = 1080;
				$scope.width = 1920;
				$scope.compression = 80;
				$scope.zipname = "output";

				$scope.resize = function(){
					var canvases = document.getElementsByTagName("canvas");
					var i = 0;
					var p_height, p_width;
					(function scale(){
						var the_canvas = canvases[i];
						var img = new Image();
						img.onload = function(){
							
							p_height = Math.abs(img.height - $scope.height) / img.height;
							p_width = Math.abs(img.width - $scope.width) / img.width;
							
							var aspect_ratio = img.width / img.height; //width on height
							
							if(p_height < p_width){
								img.height = the_canvas.height = $scope.height;
								img.width = the_canvas.width = aspect_ratio * $scope.height;
							}
							else{
								img.height = the_canvas.height = $scope.width / aspect_ratio; 
								img.width = the_canvas.width = $scope.width;
							}
							
							
							
							var ctx = the_canvas.getContext("2d");
							console.log("disegno l'immagine");
							ctx.drawImage(img,0,0,img.width,img.height);
							i++;
							if(i<canvases.length) scale();
						}
						img.src = $scope.images[i].src;
					})();
				};

				$scope.save = function(){
					var canvases = document.getElementsByTagName("canvas");
					var zip = new JSZip();
					var compression = Math.round($scope.compression)/100;
					var i = 0;
					(function write(){
						var the_canvas = canvases[i];
						var img = new Image();
						img.onload = function(){
							var index = img.src.indexOf(",");
							var data = img.src.substring(index + 1, img.src.length);
							zip.file("image"+i+".jpeg",data,{base64:true});
							i++;
							if(i<canvases.length) write();
							else{
								var content = zip.generate({type:"blob"});
								saveAs(content, $scope.zipname + ".zip");
							}
						}
						img.src = the_canvas.toDataURL("image/jpeg", compression);
					})();

				};
			}]);
		</script>
	</body>
</html>