<html>
	<head>
		<!--Web App that permits to load a banch of local images and resize them-->
		<title>Image Resizer</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link rel="stylesheet" type="text/css" href="css/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="css/motion-ui.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="js/foundation.js" defer></script>
		<script type="text/javascript" src="js/vendor/motion-ui.js" defer></script>
		<script type="text/javascript" src="js/angular.min.js" defer></script>
		<script type="text/javascript" src="js/app.js" defer></script>
		<script type="text/javascript" src="js/FileSaver.min.js" defer></script>
		<script type="text/javascript" src="js/jszip.min.js" defer></script>
		<script type="text/javascript" src="js/vendor/what-input.min.js" defer></script>
		
	</head>
	<body>
		<div class="top-bar">
			<div class="top-bar-left">
				<img src="img/resize.png"/><h5>Image Resizer</h5>
			</div>
		</div>
		<div class = "wrapper" ng-app="imageResizer" ng-controller="irController" ng-cloak>
			<!-- image settings form in a modal-->
			<div class="reveal" id="settingModal" data-reveal>
				<form name="settingsForm">
				  	<div class="row">

						<!--width-->
						<div class="medium-6 small-12 columns">
							<div class="small-2 columns">
								<label class="text-right middle" for="width">Width:</label>
							</div>
							<div class="small-9 columns">
								<div class="input-group">
									<input type="number" class="input-group-field" name="width" id="width" autocomplete="off" ng-model="width" required>
									<span class="input-group-label">px</span>
								</div>
							</div>
						</div>
						<!--height-->
						<div class="medium-6 small-12 columns">
							<div class="small-2 columns">
								<label class="text-right middle" for="height">Height:</label>
							</div>
							<div class="small-9 columns">
								<div class="input-group">
									<input class="input-group-field" type="number" name="height" id="height" autocomplete="off" value="1080" ng-model="height" required>
									<span class="input-group-label">px</span>
								</div>
							</div>
						</div>
					
					</div>

					<div class="row">
						<div class="small-3 columns">
							<label class="text-right middle">Compression [%]:</label>
						</div>
						<div class="small-4 columns">
							<div class="slider" data-slider data-initial-start="80" step="1">
								<span class="slider-handle" data-slider-handle role="slider" tabindex="0" aria-controls="compression"></span>
								<span class="slider-fill" data-slider-fill></span>
							</div>
						</div>
						<div class="small-2 columns">
						  	<input type="number" id="compression" ng-model="compression" required>
						</div>
						<div class="small-3 columns">
							<input id="crop" type="checkbox"  ng-model="crop"><label style="margin-left:5px;" class="middle" for="crop"> Crop</label>
						</div>
					</div>
					<div class="row">
						<div class="small-1 small-centered columns">
							<button class="hollow button" data-close aria-label="Close reveal" ng-class="{ 'disabled' : settingsForm.$invalid }" type="button" id="set" ng-disabled="settingsForm.$invalid">Set</button>
						</div>
					</div>
				</form>
				
			  
			</div>

			<!--modal end-->

			<!--output settings-->

			<form name="outputForm">
				<div class="row">
					<div class="medium-10 small-centered columns">
						<div ng-show = 'err !=""' class="alert callout">
						  <button ng-click = 'err = ""' class="close-button" aria-label="Close alert" type="button">
						    <span aria-hidden="true">&times;</span>
						  </button>
						  <p>{{err}}</p>
						</div>
						<div class="row">
							<div class="fileUpload hollow button large-2 columns">
			    				<span>Choose Files</span>
			    				<input type="file" class="upload" id = "files" accept="image/*" autocomplete="off" fileread = "images" multiple required>
							</div>
							<div class="large-4 columns">
								<div class="row" style="padding-top:11px;">
									<div class="small-3 columns">
										<label class="text-right middle" for="brand">Brand:</label>
									</div>
								    <div class="small-9 columns">
								    	
							    		<select ng-change = "getModels()" ng-model="choosenBrand" name="brand" ng-options="brand as brand for brand in brands" required></select>
						
								    	
								    </div>
								</div>
							</div>
							<div class="large-3 columns">
								<div class="row" style="padding-top:11px;">
									<div class="small-3 columns">
										<label class="text-right middle" for="width">Model:</label>
									</div>
								    <div class="small-9 columns">
								    	
								    		<select ng-model="choosenModel" name="model" ng-options="model as model for model in models" ng-disabled="models.length < 1" required></select>
								    		
								    </div>
								</div>
							</div>
							<div class="large-2 columns">
								<div class="row" style="padding-top:11px;">
									<div class="small-3 columns">
										<label class="text-right middle" for="year">Year:</label>
									</div>
								    <div class="small-9 columns">
								    	
								    		<input type="number" name="year" ng-model="year" min = "{{currentYear -15}}" max = "{{currentYear}}" required>
								    		
								    </div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="small-6 small-centered columns">
								<button class="hollow button" ng-class="{ 'disabled' : outputForm.$invalid || settingsForm.$invalid || images.length < 1}"type="button" id="go" ng-click="resize()" ng-disabled="outputForm.$invalid || settingsForm.$invalid || images.length < 1">Resize</button>
								<button class="hollow button"  ng-class="{ 'disabled' : outputForm.$invalid || settingsForm.$invalid || images.length < 1}" type="button" id="save" ng-click="save()"  ng-disabled="outputForm.$invalid || settingsForm.$invalid || images.length < 1">Save</button>
								<button class="hollow button" type="button" id="settings" data-open="settingModal">Settings</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- end of output setting-->
			<div id="thumbnails">
				<h3 ng-if="images.length > 0">Your Pictures</h2>
				<img class="thumbnail" ng-repeat="image in images" src="{{image.src}}"/>
			</div>

			<div id="iterations">
				<canvas draw="image" ng-repeat="image in images"></canvas>
			</div>
		<div>
	</body>
</html>